@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*,
html,
body {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Quicksand', sans-serif;
	background-color: #f7f7f7;
}

.container {
	display: flex;
	background-color: white;
	margin: 50px auto;
	max-width: 875px;
	border-radius: 10px;
	padding: 20px;
}

.banner {
	width: 50%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	background-color: #392fff;
	border-radius: 10px;
	color: whitesmoke;
	padding: 4em 1em;
	margin-right: 20px;
}

.banner i {
	font-size: 4rem;
}

.banner h1 {
	font-weight: 500;
	font-size: 1.8rem;
	margin-top: 30px;
}

.banner p {
	font-weight: 300;
	font-size: 0.9rem;
	margin-top: 8px;
	color: #dedede;
}

form {
	width: 60%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.form-header h2 {
	color: #1c1c1c;
	font-weight: 500;
}

.form-header p {
	font-weight: 400;
	margin-bottom: 20px;
}

.form-header a {
	font-weight: 600;
	color: #392fff;
	text-decoration: none;
}

.form-input {
	display: flex;
	flex-direction: column;
	margin: 10px 0;
}

.form-input label {
	font-weight: 500;
	color: #484848;
	font-size: 0.9rem;
}

.form-input input {
	height: 40px;
	border: none;
	outline: 1px solid #392fff;
	border-radius: 5px;
	padding: 10px;
	color: #333;
	font-weight: 300;
	font-family: 'Quicksand', sans-serif;
	margin-top: 8px;
}

.form-input input:focus {
	outline: 2px solid #392fff;
}

.form-input button {
	background-color: transparent;
	color: #392fff;
	width: 120px;
	border: 1px solid #392fff;
	padding: 10px;
	font-size: 1rem;
	font-weight: 400;
	font-family: 'Quicksand', sans-serif;
	border-radius: 8px;
	cursor: pointer;
	margin-top: 20px;
}

.form-input button:hover {
	background-color: #392fff;
	color: whitesmoke;
	transition: 0.3s linear;
}
